.rect {
    background-color: #e33244;
    height: 200px;
    color: white;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 30px;
    padding-left: 50px;
  }
  